// Color Variables
$fp-green : #c0f20c;
$fp-dark-green : #92c500;
$fp-neon : #db366d;
//$primary-color: #ffbc3b;


$accent-color: $fp-green;
$primary-color: #fff;
$secondary-color: #000;
$text-color: #5c5c77;
$text-color-light: #8585a4;
//$text-color-dark: #1e1e4b;
$text-color-dark: #000;
$body-color: #000;
$border-color: #ededf1;
$black: #000;
$white: #fff;
$light: #f8f9fe;
$gray: #f8f8f8;
